body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #04b05d;
}


input {
    padding: 10px;
    width: 300px;
    height: 15px;
    margin-right: 10px;
    border: 3px solid #040f38 ;
    background-color: #dadaa2;
}

/*  psuedo secltor */
input::placeholder {
    font-weight: bold;
    font-size: large;
    color: #380314f2;
}

input:focus {
    outline: none;
    border-color: #040f38;
    box-shadow: 0 0 5px #040f38;
}



input[type="text"] {
    border: 2px solid #040f38;
    border-radius: 11px;
    font-size: 20px;
    font-weight: bold;
    color: #ca2a2a;
    background-color: #fefefe;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.btn {
    height: 37px;
    background-color: #040f38;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}

.btn:hover {
    background-color: #a1a1a2;
    transition: background-color 0.3s ease;

}


.deleteBtn{
    background-color: rgb(183, 13, 13);
    border:none;
    color: white;

    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;

    cursor: pointer ;

    padding: 6px 12px;
}



.toDoItem {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto  ;
    width: 400px;
    background-color: #ba9393;

    border: 1px solid #190202;

    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}



